@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');


// COLORS
$color-primary-bentley: #C59042;
$color-secondary-bentley: #1E2E3E;
$color-bentley-white: #fff;
$color-text: #1E2E3E;

$color-white: #fff;


// FONTS
$default-font-size: 23.44px;

// FONTSIZES


// FONT FAMILY
$text-font: 'DM Sans', sans-serif;
$h1-font: 'Criteria CF', sans-serif;

// FONT WEIGHTS
$font-weights: (
  "regular": 500,
  "medium": 700,
);
